{% load static %}
<header>
    <div class="container">
        <nav>
            <img src="{% static 'img/Logo.svg' %}" alt="" class="logo" />
            <ul class="mainmenu">
                <li class="mainmenu__item">
                    <a href="" class="mainmenu__link">Главная</a>
                </li>
                <li class="mainmenu__item">
                    <a href="" class="mainmenu__link">О Нас</a>
                </li>
                <li class="mainmenu__item">
                    <a href="" class="mainmenu__link">Новости</a>
                </li>
                <li class="mainmenu__item">
                    <a href="" class="mainmenu__link">Магазин</a>
                </li>
                <li class="mainmenu__item">
                    <a href="" class="mainmenu__link">Блог</a>
                </li>
                <li class="mainmenu__item">
                    <a href="" class="mainmenu__link">Контакты</a>
                </li>
            </ul>
            <ul class="shopmenu">
                <li class="shopmenu_item">
                    <a href="" class="shopmenu__link"
                    ><i class="fa-solid fa-magnifying-glass"></i
                    ></a>
                </li>
                <li class="shopmenu_item">
                    <a href="" class="shopmenu__link"
                    ><i class="fa-solid fa-user"></i
                    ></a>
                </li>
                <li class="shopmenu_item">
                    <a href="" class="shopmenu__link"
                    ><i class="fa-solid fa-heart"></i
                    ></a>
                </li>
                <li class="shopmenu_item">
                    <a href="" class="shopmenu__link"
                    ><i class="fa-sharp fa-bag-shopping"></i
                    ></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
