{% extends "landing/base.html" %}
{% block content %}
{% load static %}
    <div class="slider">
      <div class="container">
        <div class="slider__wrapper">
          <div class="slider__title">
            Свежие цветы на праздник и день рождения
          </div>
          <div class="slider__price"><span>500p.</span>&nbsp;- 300р.</div>
          <button class="btn slider__btn">Выбрать букет</button>
        </div>
        <img src="{% static 'img/flowers-1.png' %}" alt="" class="slider__img" />
      </div>
    </div>
{% endblock %}
